<a href="https://colab.research.google.com/github/aanilkumarreddy/DataDiggers/blob/main/datamodelingAAPL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.6 MB/s
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 19.3 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [ ]:
import pandas as pd
import yfinance as yf
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
data = yf.download("AAPL", start='2018-01-01', end='2021-12-31')

[*********************100%***********************]  1 of 1 completed

In [ ]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,42.540001,43.075001,42.314999,43.064999,41.135757,102223600
2018-01-03,43.132500,43.637501,42.990002,43.057499,41.128586,118071600
2018-01-04,43.134998,43.367500,43.020000,43.257500,41.319622,89738400
2018-01-05,43.360001,43.842499,43.262501,43.750000,41.790073,94640000
2018-01-08,43.587502,43.902500,43.482498,43.587502,41.634850,82271200
...,...,...,...,...,...,...
2021-12-23,175.850006,176.850006,175.270004,176.279999,176.055695,68356600
2021-12-27,177.089996,180.419998,177.070007,180.330002,180.100540,74919600
2021-12-28,180.160004,181.330002,178.529999,179.289993,179.061859,79144300
2021-12-29,179.330002,180.630005,178.139999,179.380005,179.151749,62348900
2021-12-30,179.470001,180.570007,178.089996,178.199997,177.973251,59773000

In [ ]:
df = data['Adj Close'].pct_change() * 100

In [ ]:
df

Date
2018-01-02         NaN
2018-01-03   -0.017434
2018-01-04    0.464485
2018-01-05    1.138566
2018-01-08   -0.371437
                ...
2021-12-23    0.364385
2021-12-27    2.297481
2021-12-28   -0.576723
2021-12-29    0.050200
2021-12-30   -0.657821
Name: Adj Close, Length: 1007, dtype: float64

In [ ]:
df = df.rename("Today")

In [ ]:
df

Date
2018-01-02         NaN
2018-01-03   -0.017434
2018-01-04    0.464485
2018-01-05    1.138566
2018-01-08   -0.371437
                ...
2021-12-23    0.364385
2021-12-27    2.297481
2021-12-28   -0.576723
2021-12-29    0.050200
2021-12-30   -0.657821
Name: Today, Length: 1007, dtype: float64

In [ ]:
df = df.reset_index()

In [ ]:
for i in range(1,6):
  df['Lag '+str(i)] = df['Today'].shift(i)

In [ ]:
df

           Date     Today     Lag 1     Lag 2     Lag 3     Lag 4     Lag 5
0    2018-01-02       NaN       NaN       NaN       NaN       NaN       NaN
1    2018-01-03 -0.017434       NaN       NaN       NaN       NaN       NaN
2    2018-01-04  0.464485 -0.017434       NaN       NaN       NaN       NaN
3    2018-01-05  1.138566  0.464485 -0.017434       NaN       NaN       NaN
4    2018-01-08 -0.371437  1.138566  0.464485 -0.017434       NaN       NaN
...         ...       ...       ...       ...       ...       ...       ...
1002 2021-12-23  0.364385  1.531877  1.908694 -0.812208 -0.650172 -3.926386
1003 2021-12-27  2.297481  0.364385  1.531877  1.908694 -0.812208 -0.650172
1004 2021-12-28 -0.576723  2.297481  0.364385  1.531877  1.908694 -0.812208
1005 2021-12-29  0.050200 -0.576723  2.297481  0.364385  1.531877  1.908694
1006 2021-12-30 -0.657821  0.050200 -0.576723  2.297481  0.364385  1.531877

[1007 rows x 7 columns]

In [ ]:
df['Volume'] = data.Volume.shift(1).values/1000_000_000

In [ ]:
df = df.dropna()

In [ ]:
df

,Date,Today,Lag 1,Lag 2,Lag 3,Lag 4,Lag 5,Volume
6,2018-01-10,-0.022936,-0.011489,-0.371437,1.138566,0.464485,-0.017434,0.086336
7,2018-01-11,0.568036,-0.022936,-0.011489,-0.371437,1.138566,0.464485,0.095840
8,2018-01-12,1.032623,0.568036,-0.022936,-0.011489,-0.371437,1.138566,0.074671
9,2018-01-16,-0.508224,1.032623,0.568036,-0.022936,-0.011489,-0.371437,0.101672
10,2018-01-17,1.651633,-0.508224,1.032623,0.568036,-0.022936,-0.011489,0.118264
...,...,...,...,...,...,...,...,...
1002,2021-12-23,0.364385,1.531877,1.908694,-0.812208,-0.650172,-3.926386,0.092135
1003,2021-12-27,2.297481,0.364385,1.531877,1.908694,-0.812208,-0.650172,0.068357
1004,2021-12-28,-0.576723,2.297481,0.364385,1.531877,1.908694,-0.812208,0.074920
1005,2021-12-29,0.050200,-0.576723,2.297481,0.364385,1.531877,1.908694,0.079144
1006,2021-12-30,-0.657821,0.050200,-0.576723,2.297481,0.364385,1.531877,0.062349

In [ ]:
df['Direction'] = [1 if i > 0 else 0 for i in df['Today']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df

,Date,Today,Lag 1,Lag 2,Lag 3,Lag 4,Lag 5,Volume,Direction
6,2018-01-10,-0.022936,-0.011489,-0.371437,1.138566,0.464485,-0.017434,0.086336,0
7,2018-01-11,0.568036,-0.022936,-0.011489,-0.371437,1.138566,0.464485,0.095840,1
8,2018-01-12,1.032623,0.568036,-0.022936,-0.011489,-0.371437,1.138566,0.074671,1
9,2018-01-16,-0.508224,1.032623,0.568036,-0.022936,-0.011489,-0.371437,0.101672,0
10,2018-01-17,1.651633,-0.508224,1.032623,0.568036,-0.022936,-0.011489,0.118264,1
...,...,...,...,...,...,...,...,...,...
1002,2021-12-23,0.364385,1.531877,1.908694,-0.812208,-0.650172,-3.926386,0.092135,1
1003,2021-12-27,2.297481,0.364385,1.531877,1.908694,-0.812208,-0.650172,0.068357,1
1004,2021-12-28,-0.576723,2.297481,0.364385,1.531877,1.908694,-0.812208,0.074920,0
1005,2021-12-29,0.050200,-0.576723,2.297481,0.364385,1.531877,1.908694,0.079144,1
1006,2021-12-30,-0.657821,0.050200,-0.576723,2.297481,0.364385,1.531877,0.062349,0

In [ ]:
df = sm.add_constant(df)

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [ ]:
df

,const,Date,Today,Lag 1,Lag 2,Lag 3,Lag 4,Lag 5,Volume,Direction
6,1.0,2018-01-10,-0.022936,-0.011489,-0.371437,1.138566,0.464485,-0.017434,0.086336,0
7,1.0,2018-01-11,0.568036,-0.022936,-0.011489,-0.371437,1.138566,0.464485,0.095840,1
8,1.0,2018-01-12,1.032623,0.568036,-0.022936,-0.011489,-0.371437,1.138566,0.074671,1
9,1.0,2018-01-16,-0.508224,1.032623,0.568036,-0.022936,-0.011489,-0.371437,0.101672,0
10,1.0,2018-01-17,1.651633,-0.508224,1.032623,0.568036,-0.022936,-0.011489,0.118264,1
...,...,...,...,...,...,...,...,...,...,...
1002,1.0,2021-12-23,0.364385,1.531877,1.908694,-0.812208,-0.650172,-3.926386,0.092135,1
1003,1.0,2021-12-27,2.297481,0.364385,1.531877,1.908694,-0.812208,-0.650172,0.068357,1
1004,1.0,2021-12-28,-0.576723,2.297481,0.364385,1.531877,1.908694,-0.812208,0.074920,0
1005,1.0,2021-12-29,0.050200,-0.576723,2.297481,0.364385,1.531877,1.908694,0.079144,1
1006,1.0,2021-12-30,-0.657821,0.050200,-0.576723,2.297481,0.364385,1.531877,0.062349,0

In [ ]:
X = df[['const', 'Lag 1', 'Lag 2', 'Lag 3', 'Lag 4', 'Lag 5', 'Volume']]

In [ ]:
y = df.Direction

In [ ]:
model = sm.Logit(y,X)

In [ ]:
result = model.fit()

Optimization terminated successfully.
         Current function value: 0.684341
         Iterations 4

In [ ]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Direction   No. Observations:                 1001
Model:                          Logit   Df Residuals:                      994
Method:                           MLE   Df Model:                            6
Date:                Sat, 02 Apr 2022   Pseudo R-squ.:                0.007289
Time:                        02:47:56   Log-Likelihood:                -685.02
converged:                       True   LL-Null:                       -690.05
Covariance Type:            nonrobust   LLR p-value:                    0.1222
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2695      0.156      1.726      0.084      -0.036       0.575
Lag 1         -0.0780      0.032     -2.441      0.015      -0.141      -0.015
Lag 2          0.0107      0.032      0.337      0.736      -0.052       0.073
Lag 3         -0.0143      0.032     -0.450      0.653      -0.077       0.048
Lag 4          0.0401      0.032      1.262      0.207      -0.022       0.102
Lag 5          0.0344      0.031      1.097      0.273      -0.027       0.096
Volume        -0.7469      1.126     -0.663      0.507      -2.954       1.461
==============================================================================
"""

In [ ]:
prediction = result.predict(X)

In [ ]:
prediction

6       0.550737
7       0.566237
8       0.548262
9       0.526525
10      0.555368
          ...
1002    0.488014
1003    0.531002
1004    0.516233
1005    0.599129
1006    0.561514
Length: 1001, dtype: float64

In [ ]:
def confusion_matrix(act, pred):
  predtrans = ['Up' if i > 0.5 else "Down" for i in pred]
  actuals = ['Up' if i > 0 else "Down" for i in act]
  confusion_matrix = pd.crosstab(pd.Series(actuals), 
                                 pd.Series(predtrans),
                                 rownames=['Actual'],
                                 colnames=['Predicted'])
  return confusion_matrix

In [ ]:
confusion_matrix(y,prediction)

Predicted  Down   Up
Actual
Down         74  383
Up           66  478

In [ ]:
len(df)

1001

In [ ]:
(74+478)/1001

0.5514485514485514

In [ ]:
x_train = df[df.Date.dt.year < 2021][['const', 'Lag 1', 'Lag 2', 'Lag 3', 'Lag 4', 'Lag 5', 'Volume']]
y_train = df[df.Date.dt.year < 2021]['Direction']
x_test = df[df.Date.dt.year == 2021][['const', 'Lag 1', 'Lag 2', 'Lag 3', 'Lag 4', 'Lag 5', 'Volume']]
y_test = df[df.Date.dt.year == 2021]['Direction']

In [ ]:
model = sm.Logit(y_train,x_train)

In [ ]:
result = model.fit()

Optimization terminated successfully.
         Current function value: 0.682597
         Iterations 4

In [ ]:
prediction = result.predict(x_test)

In [ ]:
confusion_matrix(y_test,prediction)

Predicted  Down   Up
Actual
Down          9  108
Up            8  126

In [ ]:
(9+126)/len(x_test)

0.5378486055776892